body{
    color: #40514e;
    text-align: center;
    font-family: "Merriweather",serif;
}
.top-container{
    background-image: url('./assets/Hero1.jpeg');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    /*background-repeat: no-repeat;  Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-family: 'Sacramento',serif;
    font-size: 5rem;
    margin: 50px auto 0 auto;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66bfbf;
    padding-bottom: 10px;
    font-weight:normal;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: aliceblue;
    font-weight: bold;
}
.middle-container{
    margin: 100px;  
}
.roundimg{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.intro{
    width: 30%;         /*occupy only 30% of the width*/
    margin: auto;       /*used to horizontally center a block-level element within its parent container*/
}
p{
    line-height: 2;     /*to increase font height*/
}
hr{
    border: dotted #eaf6f6 6px;      /*dots, color, size of dots*/
    border-bottom: none;                /*removes double dotted line*/
    width: 4%;
    margin: 100px auto;
}
.parent{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    margin: auto;
    row-gap: 2rem;
    text-align: left;
    margin: 100px auto;
}
.tech>img{
    height: 90%;
    width: 90%;
}
.hobbies>img{
    height: 90%;
    width: 90%;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #66bfbf;
    font-weight:normal;
}
.message{
    width: 40%;
    margin: 40px auto 60px;
}
.btn{
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.bottom-container{
    background: #66bfbf;
    padding: 50px 0 20px;
}
a{
    color: #11999e;
    font-family: "Montserrat",sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}